<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Helpline</title>
    <!-- CSS FILES -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" /><link rel="stylesheet" href="../css/style.css" /><link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" data-name="skins" /><link rel="stylesheet" href="../css/layout/wide.css" data-name="layout" /><link rel="stylesheet" href="../css/fractionslider.css" /><link rel="stylesheet" href="../css/style-fraction.css" /><link rel="stylesheet" type="text/css" href="../css/switcher.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
     <style type="text/css">

          body {font-family: Arial, Helvetica, sans-serif;}

         .nav-tabs li.active, .nav-tabs li.active a, .nav-tabs li.active a:hover {
             border: none;
         }


     </style>


     <script type="text/javascript">
         function preventBack() { window.history.forward(); }
         setTimeout("preventBack()", 0);
         window.onunload = function () { null };
    </script>

</head>


<body style="margin: 0;">
    <div class="nav">
		<a href="/homepage">HOME</a>
		<a href="/adminlogin">ADMIN-LOGIN</a>
        <a href="/userlogin">USER-LOGIN</a>
        <a href="/userinterface">USER REGISTER</a>
        <a href="/contactus">CONTACT US</a>
        <a href="/helpline" style="background-color: #e74c3c;">HELPLINE</a>
    </div>
    <form method="post" action="./Helpline.aspx" id="form1">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="O6Z5XAe5zpI8hCv14RKnMKHpFDy9WiVQNYPB4lGC21V/ythdIN2HBVReNr+oN1QHwQgH3akR0LZdiT0KRIdvIYeDQ558TZcxbbTbl1qbWPw=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>
<h1 class="container" style="text-align: left;color:#003399; width: 100%;">HELPLINE</h1>
        <section class="">
            <div class="container">

                <div class="row sub_content">

                    <div id="ContentPlaceHolder1_sec2" class="col-lg-12 col-md-12 col-sm-12">




                        <table style="width: 100%; height: 447px; box-shadow: 2px 2px 2px 2px rgba(16, 13, 13, 0.44);margin: 17px 0 0 0">

                            <tr style="text-align: center; background-color: lightgray; width: 100%;">
                                <td colspan="4" style="color: brown; font-size: 38px; padding: 182px 0 182px 0;"><b><i class="fa fa-phone"></i>  Helpline Number - 155260</b>
                                    <br /><br /><b><i class="fa fa-clock-o" style="font-size:38px"></i> 09:00 AM To 06:00 PM  </b>

                                </td>
                            </tr>

                        </table>

                    </div>



                </div>
            </div>
        </section>

</body>
</html>
